body
{
    background-image: url(../images/tlo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}
a
{
    color: rgb(4, 51, 121);
    text-decoration: none;
    border-bottom: 1px dotted gray;
}
a:hover
{
    color: rgb(212, 208, 203);
}
/* GÓRNA CZĘŚĆ KONTENERA */
#kontener
{
    width: 1850px;
    margin: auto;
    text-align: center;
}
#gorna-czesc-kontenera
{
    position: relative;
    margin-top: 10px;
    background-image: url(../images/tlo2.gif);
    width: 1850px;
    height: 120px;
}
.logo
{
    border: 0;
    position: absolute;
    left: 20px;
    top: 1px;
    width: 120px;
    height: 120px;
}
/* koniec */
#kontakt-box 
{
    position: absolute;
    right: 40px;
    top: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    line-height: 125%;
}
#kontakt-box a
{
    border-bottom: 0px;
}
/* MENU GÓRNE */
#gorne-menu
{
    position: absolute;
    left: 120px;
    bottom: 0px;
}
#wlasciwe-gorne-menu li
{
    list-style-type: none;
    float: left;
    border-right: 1px solid #7a7878;
}
#wlasciwe-gorne-menu li a
{
    background-image: url(/images/menu1.gif);
    height: 31px;
    display:inline-block;
    float: left;
    border-bottom: none;
    padding: 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color:white
}
#wlasciwe-gorne-menu li a:hover
{
    background-image: url(/images/menuhehe1.gif);
    color: rgb(255, 255, 255);
}
.link
{
    display: inline-block;
    margin: 7px;
}
#li-menu
{
    border-left: 1px solid black;
}
/* ŚRODKOWE MENU */
#srodkowe-menu
{
    background-image: url(/images/menu-srodek.gif);
    width: 1850px;
    height: 32px;
    float: left;
    position: absolute;
}
#srodkowe-menu li
{
    list-style-type: none;
    float: left;
}
#srodkowe-menu li a
{
    border-bottom: none;
    color: rgb(228, 222, 222);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
#srodkowe-menu li a:hover
{
    color: rgb(180, 67, 67);
}
#srodkowe-menu .link2
{
    display: inline-block;
    margin-top: 1px;
}
#pierwszy-poziom
{
    margin-top: 7px;
}
.odstep
{
    display: inline-block;
    margin: 2px 10px 0px 5px;
    color: rgb(228, 222, 222);
}
/* MENU ROZWIJANE */
#pierwszy-poziom li .drugi-poziom
{
    display: none;
}
#pierwszy-poziom li:hover .drugi-poziom
{
    display: block;
    width: 150px;
}
#pierwszy-poziom li .drugi-poziom li
{
    width: 150px;
    text-align: left;
}
#pierwszy-poziom li
{
    position: relative;
}
#pierwszy-poziom li .drugi-poziom
{
    position: absolute;
    padding: 1px;
    top: 1,9em;
    left: 0em;
}
#pierwszy-poziom > li
{
    height: 32px;
}
#pierwszy-poziom li .drugi-poziom
{
    background-image: url(/images/menu-srodek.gif);
    border-left: 2px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
#pierwszy-poziom li .drugi-poziom li
{
    border-top: 1px solid gray;
}
#pierwszy-poziom li .drugi-poziom li a
{
    display: block;
    width: 150px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#pierwszy-poziom li .drugi-poziom li a:hover
{
    background-color: rgb(108, 119, 212);
    color: white;
}
#pierwszy-poziom li .drugi-poziom li a
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}
#pierwszy-poziom li .drugi-poziom li .pierwszy-element-menu
{
    margin-top: 5px;
}